only-built-dependencies[]=prisma
only-built-dependencies[]=@prisma/engines
manage-package-manager-versions=false
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=express
public-hoist-pattern[]=pg